@import "./variables";

.req-type {
  input[type="radio"],
  input[type="checkbox"] {
    margin-right: 1rem;
  }
}

.req-type-row {
  .req-type-box {
    min-width: 300px;
    max-width: 350px;
    width: 100%;
    @include box-border-style;
    border-radius: 3px;
    padding: 20px 10px 10px 20px;
    margin-top: 1rem;
    p {
      margin-left: 2rem;
    }
  }
}

@media (min-width: 992px) {
  .req-type-row {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
  }
}

#dupe {
  display: none;
}

#visit {
  display: block;
}
.toggled-box {
  max-width: 800px;
  background: $gray;
  a {
    color: $ucla-darker-blue;
    text-decoration: underline;
  }

  .input-row {
    display: flex;
    justify-content: space-between;
  }
}
