<?xml version = '1.0' encoding = 'windows-1252'?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">
  <context-param>
    <param-name>datasource.vger</param-name>
    <!--param-value>java:/rssDS</param-value-->
    <param-value>jdbc/rssDS</param-value>
  </context-param>
  <context-param>
    <param-name>datasource.hours</param-name>
    <!--param-value>java:/scheduleDS</param-value-->
    <param-value>jdbc/scheduleDS</param-value>
  </context-param>
  <context-param>
    <param-name>unitid.biohis</param-name>
    <param-value>6135</param-value>
  </context-param>
  <context-param>
    <param-name>unitid.yrlspc</param-name>
    <param-value>6134</param-value>
  </context-param>
  <context-param>
    <param-name>help.email</param-name>
    <param-value>helpdesk@library.ucla.edu</param-value>
  </context-param>
  <context-param>
    <param-name>help.name</param-name>
    <param-value>Library Helpdesk</param-value>
  </context-param>
  <servlet>
    <servlet-name>FileSubmitServlet</servlet-name>
    <servlet-class>edu.ucla.library.libservices.aeon.submission.web.FileSubmitServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OacLinker</servlet-name>
    <servlet-class>edu.ucla.library.libservices.aeon.vger.servlets.OacLinker</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileSubmitServlet</servlet-name>
    <url-pattern>/filesubmit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OacLinker</servlet-name>
    <url-pattern>/oaclinker</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/rssDS</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/scheduleDS</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
</web-app>
